/*RESET DO CSS */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

header {
    background-color:black;
    color: white;
    padding: 73px;
    text-align: center;
}

main {
    background-color:beige;
    flex: 1;
    padding: 48px 38px;
}

#sobre-mim {
    display: block;
    background-color:white ;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 40px;
}

#titulo-sobre-mim {
    font-size: 20px;
    margin-bottom: 16px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
}

#texto-sobre-mim {
    font-size: 30px;
}

#meus-hobbies {
    background-color:white ;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 16px;
}

#titulo-meus-hobbies {
    font-size: 20px;
    margin-bottom: 16px;
    margin-bottom: 25px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    background-color: gray;
    padding: 8px;
    border-left: 4px solid black;
    border-radius: 12px;
    font-size: 16px;
    min-width: 250px;
}

li:hover {
    background-color: lightskyblue;
    transform: translateX(5px);
    transition: all 0.3s ease;
}