@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*RESET DO CSS */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Varela Round, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

header {
    background-color:black;
    color: white;
    padding: 73px;
    text-align: center;
}

main {
    background-color:beige;
    flex: 1;
    padding: 48px 38px;
}

#sobre-mim {
    display: block;
    background-color:white ;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 40px;
}

#titulo-sobre-mim {
    font-size: 20px;
    margin-bottom: 16px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
}

#texto-sobre-mim {
    font-size: 30px;
}

#meus-hobbies {
    background-color:white ;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 16px;
}

#titulo-meus-hobbies {
    font-size: 20px;
    margin-bottom: 16px;
    margin-bottom: 25px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    background-color: gray;
    padding: 8px;
    border-left: 4px solid black;
    border-radius: 12px;
    font-size: 16px;
    min-width: 250px;
}

li:hover {
    background-color: lightskyblue;
    transform: translateX(5px);
    transition: all 0.3s ease;
}

#contato {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 16px;
    text-align: center;
}

#contato h3 {
    margin-bottom: 8px;
    font-size: 22px;
}

#contato p {
    font-size: 16px;
}

#contato a {
    color: #3498db; 
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 2px solid #3498db;
    border-radius: 25px;
    display: inline-block;
    transition: all 0.3s ease;
}

#contato a:hover {
    background-color: #3498db;
    color: white;
    transform: translateY(-2px);
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

footer p {
    font-size: 2;
}

#paginaTestes {
    text-align: center;
}

#paginaTestes a {
    color: #3498db; 
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 0;
    border: 2px solid #3498db;
    border-radius: 25px;
    display: inline-block;
    transition: all 0.3s ease;
}

#paginaTestes a:hover {
    background-color: #3498db;
    color: white;
    transform: translateY(-2px);
}
