/*RESET DO CSS */
*{
    margin: 0px;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, p {
    text-align: center;
    margin: 10px;
}

header {
    background-color:black;
    color: white;
    padding: 73px;
}

main {
    height: 600px;
    background-color:red;
}